{% extends 'base.html.twig' %}

{% block body %}
    <h2>Game Engine</h2>
    <a href="{{ path('category') }}">API</a>
    <ul>
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}
